.note-container {
    padding: 10px;
    margin: 10px 320px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .note-title {
    color: #333;
    align-items: center;
    
  }
  
  .note-content {
    color: #666;
    align-items: center;
  }
  
  .note-date {
    color: #999;
    font-size: 0.8rem;
  }
  
  .delete-button {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #0e0e0e; /* Darker red */
  }